/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 800px;
	margin-top: 0;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	border: 3px solid #931420;
	background-color: #fffded;	
}
h1{
	font-size: 150%;
	padding-top: .5em;
	padding-bottom: .25em;
	margin: 0;
}
header{
	margin-top: 0;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
	padding:1.5em 2em;
	background-image:linear-gradient(#f6bb73 0%,#f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
/* the styles for the header */
header img {
	float: left;
}

/* the styles for the section */
main {
	clear: left;
	padding: 0;
}
header h2{
	font-size: 170%;
	color:#800000;
}
header h3{
	font-size: 130%;
	font-style: italic;
}
section h1{
	font-size:150%;
	padding-top:.3em;
	padding-bottom: .3em;
	border:2px black solid;
	border-style: double;
	border-radius: 10px;
    box-shadow:4px, 4px;
    color:#800000;
}
section h2{
	font-size:120%;
	padding-top: .5em;
	padding-bottom: .25em;
}
section h3{
	font-size:105%;
	padding-bottom:.25em;
}
section img{
	padding-bottom: 1em;
}
section p{
	padding-bottom: .5em;
}
section blockquote{
	padding: 0 2em;
	font-style:italic;
}
section ul{
	padding-bottom: .25em;
	padding-left: 1.25em;
}
section li{
	padding-bottom: .35em;
}
a:hover{
	font-style: italic;
}
a:focus{
	font-style: italic;
}
section{
	width:525px;
	float:right;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:20px;
}
aside{
	width:215px;
	float:right;
	padding-left:20px;
	padding-bottom:20px;
}
aside h3{
	font-size: 105%;
	padding-bottom: .25em;
}
aside img{
	padding-bottom: 1em;
}
article{
	padding-top:.5em;
	padding-bottom:.5em;

}
article img{
	float:right;
	border: black 1px;
	margin: 4px;
}
article h2{
	padding-top: 0px;
}
article h3{
	font-size: 105%;
	padding-bottom: .25em;
}
#nav_menu ul{
	text-decoration: none;
	margin:0;
	padding:0;
	position:relative;
}
#nav_menu ul li{
	float:left;
	text-decoration: none;
	display:block;
	width:20%;
	text-align:center;
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #800000;

}
#nav_menu ul li a{
text-decoration: none;
color:white;
font-weight: bold;
}
#nav_menu ul li a.current{
	color: yellow;
}
#nav_menu ul ul{
    display: none;
    position: absolute;
    width:100%;
}
#nav_menu ul ul li{
    float: none;
}
#nav_menu ul li:hover>ul{
	display:block;
	}
footer{
	clear:both;
}
footer p{
	text-align: center;
	padding:1em 0;
}
em.shadow{
	text-shadow:2px 2px #800000;
}

/* the styles for the footer */
